name: Deno PR check

on:
  workflow_call:

  pull_request:
    branches: ['master', 'main']

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v6.0.1

      - name: Setup Deno
        uses: denoland/setup-deno@v2.0.3
        with:
          deno-version: 2.x

      # Uncomment this step to verify the use of 'deno fmt' on each commit.
      - name: Verify formatting
        run: deno fmt --check

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test -A
